.banner {
    /* background-image: url('../img/main-banner.jpg'); */
    background-image: url("../../public/img/putting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 500px;
}
.homeTitle {
    font-size: 5.5rem;
    color: #9b551d;
    font-family: "Courgette", cursive;
}
.homeP {
    font-size: 1.3rem;
    line-height: 1;
    color: #444444;
    text-align: center;
}
.sponsorsImg {
    width: 100%;
}
.insta {
    padding: 30px 0;
}
.instagramMedia {
    width: 100%;
    min-height: 100%;
}
.Content {
    padding-bottom: auto !important;
}
.twitter {
    padding: 30px 0;
}
